
{% extends 'index.html' %}

{% block main %}

<section class="signin-page account">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="block text-center">
          <h2 class="text-center">Create Your Account</h2>
          <form class="text-left clearfix" action="{% url 'signin' %}" method="post">
            {% csrf_token %}
            {% for f in form %}
            <div class="form-group">
              <input type="text" class="form-control"  placeholder="{{f.label}}"{{ f }}
          
            </div>
            {% endfor %}
            <div class="text-center">
              <button type="submit" class="btn btn-main text-center">Sign In</button>
            </div>
          </form>
          <p class="mt-20">Already hava an account ?<a href="login.html"> Login</a></p>
          <p><a href="forget-password.html"> Forgot your password?</a></p>
        </div>
      </div>
    </div>
  </div>
</section>

  {% endblock main %}