{% extends 'index.html' %}

{% load static %}

{% block main %}

<section class="user-dashboard page-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="list-inline dashboard-menu text-center">
          <li><a class="active" href="{% url 'profile_update' user.pk %}">Изменить профиль</a></li>
          
          <li><a href="{% url "password_change" %}">Изменить пароль</a></li>
          <li><a href="{% url 'profile' %}">Профиль</a></li>
        </ul>
        <div class="dashboard-wrapper dashboard-user-profile">
          <div class="media">
            <div class="pull-left text-center" href="#!">
              <img class="media-object user-img" src="{% static "images/profile.png" %}" alt="Image">
              
            </div>
            <div class="media-body" style="width: 500px;">
              <ul class="user-profile-list">

            
            
           
              <form class="text-left clearfix" action="" method="post">
            {% csrf_token %}
            {% for f in form %}
              
                <li><b>{{f.label}} :</b><input for="{{f.id_for_label }}" {% if f.label == 'Пароль' or f.label == 'Повтор пароля' %}type="password"{% else %} type="text" {% endif %} class="form-control"  placeholder="{{f.label}}"  {{f}}
                <div class="invalid-feedback">
                
                {{f.errors}}
                </div>
                {% endfor %}
                <button type="submit" class="btn btn-main text-center">Изменить</button>
              </ul>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock main %}